.menu {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-left: 700px;
}
.menu .h1-ul-menu {
  margin-top: 37px;
}
.menu .h1-ul-menu:hover {
  color: rgba(110, 125, 142, 0.4588235294);
  transition: color 0.2s ease;
}

.h1-main {
  color: white;
  text-align: center;
}

.ul-top {
  display: flex;
  flex-wrap: wrap;
}

.ul-top {
  display: flex;
  gap: 80px;
  list-style: none;
}
.ul-top .li-top {
  border: #687a8d solid 1px;
  border-radius: 10px;
  padding: 10px 30px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(110, 125, 142, 0.4588235294);
}
.ul-top .li-top .li-top:hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
}
.ul-top .number {
  display: flex;
  justify-content: center;
}
.ul-top .program-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ul-top .program-name {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

body {
  background-color: #5d6d7e;
}

/* .menu {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-left: 700px;
} */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.program-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: skyblue;
  transform: translate(-50%, -50%);
}

/* .h1-ul-menu {
  margin-top: 37px;
}

.h1-ul-menu:hover{
  color: #6e7d8e75;
  transition: color 0.2s ease;
} */
.ul-top {
  display: flex;
  flex-wrap: wrap;
}

.h1-others {
  margin-top: 150px;
  text-align: center;
  color: #eb984e;
}

.container {
  max-width: 1700px;
  max-height: 980px;
  text-align: center;
  display: flex;
  margin-left: 380px;
  margin-bottom: 40px;
}

.top-h1 {
  text-align: center;
  color: #f5b041;
}

.li-top:hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
}

.menu a {
  text-decoration: none;
  color: #f5b041;
}

.ul-top-others {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  list-style: none;
}

.menu:hover {
  color: #f5b041;
  transition: 0.2s all;
}

.h1-main {
  color: white;
  text-align: center;
}

.br-main {
  color: gray;
  width: 1500px;
}

.number {
  display: flex;
  justify-content: center;
}

.program-name {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.ul-top {
  display: flex;
  gap: 80px;
  list-style: none;
}

.li-img {
  width: 100px;
  height: 100px;
}

.li-top {
  border: #687a8d solid 1px;
  border-radius: 10px;
  padding: 10px 30px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(110, 125, 142, 0.4588235294);
}

.menu-main {
  text-align: center;
}

.menu-main {
  color: #b7950b;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */