* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  /* Common container styles. */
  .container {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  
    /*  Text styles  */
    text-align: center;
    line-height: 180px;
    font-size: 32px;
    white-space: nowrap;
  }
  
  /* Set the maximum width of the responsive container. */
  .container.responsive {
    max-width: 1140px;
    margin-bottom: 40px;
  }
  
  /* Set the base width of a adaptive container. */
  .container.adaptive {
    max-width: 400px;
  }
  
  @media screen and (min-width: 600px) {
    /* Change the current width of the adaptive container at each breakpoint. */
    .container.adaptive {
      max-width: 600px;
    }
  }
  
  @media screen and (min-width: 900px) {
    /* Change the current width of the adaptive container at each breakpoint. */
    .container.adaptive {
      max-width: 900px;
    }
  }
  
  @media screen and (min-width: 1140px) {
    /* Change the current width of the adaptive container at each breakpoint. */
    .container.adaptive {
      max-width: 1140px;
    }
  }
  
  .container .label {
    margin-top: 0;
  }

  .responsive{
    font-size: 20px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-property: transition 2s;
    transition-duration: 200ms;
  }