body{
    background-color: #cb4335;
}

.menu{
    display: flex;
gap: 100px;
    list-style: none;
    margin-left: 700px;
}

.menu a{
    text-decoration: none;
    color: grey;
}

.menu a:hover{
    color: #85c1e9;
    transition: 0.2s all;
}

.h1-main{
    color: white;
margin-left: 1150px;
}

.br-main{
    color: gray;
    width: 1500px;
}

.guilded{
    color: grey;
    font-size: 25px;
    text-decoration: none;
    margin-left: 1300px;
}

.menu-main{
    color: #b7950b;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}