body {
  background-color: #5d6d7e;
}

.menu {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-left: 700px;
}

.h1-ul-menu {
  margin-top: 37px;
}

.ul-top{
  display: flex;
  flex-wrap: wrap;
}

.top-h1 {
  text-align: center;
  color: #f5b041;
}

.li-top:hover {
  transition: background-color 0.3s ease,
    transform 0.3s ease;
    transform: scale(1.2);
}

.menu a {
  text-decoration: none;
  color: #f5b041;
}

.menu:hover {
  color: #f5b041;
  transition: 0.2s all;
}

.h1-main {
  color: white;
  text-align: center;
}

.br-main {
  color: gray;
  width: 1500px;
}

.number {
  display: flex;
  justify-content: center;
}

.program-name {
  display: flex;
  justify-content: center;
}

.ul-top {
  display: flex;
  gap: 80px;
  list-style: none;
}

.li-img {
  width: 100px;
  height: 100px;
}

.li-top {
  border: #687a8d solid 1px;
  border-radius: 10px;
  padding: 10px 30px;
  backdrop-filter: blur(20px);
  background-color: #6e7d8e75;
}

.menu-main {
  text-align: center;
}

.menu-main {
  color: #b7950b;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}