body {
  background-color: #5d6d7e;
}

.menu {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-left: 700px;
}

.h1-ul-menu {
  margin-top: 37px;
}

.menu a {
  text-decoration: none;
  color: #f5b041;
}

.menu:hover {
  color: #f5b041;
  transition: 0.2s all;
}

.h1-main {
  color: white;
  text-align: center;
}

.br-main {
  color: gray;
  width: 1500px;
}

.number {
  display: flex;
  justify-content: center;
}

.program-name {
  display: flex;
  justify-content: center;
}

.ul-top {
  display: flex;
  gap: 100px;
  list-style: none;
}

.li-img {
  width: 100px;
  height: 100px;
}

.li-top {
  border: #687a8d solid 1px;
  border-radius: 10px;
  padding: 10px 30px;
}

.menu-main {
  text-align: center;
}

.menu-main {
  color: #b7950b;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}
